/* Styles for isa */

#everything {
	text-align: center;
	width: 1000px;
	height: 3000px;
	margin: auto;
}

#portal {
	text-align: center;
	width: 1000px;
	height: 300px;
	max-height: 300px;

	overflow: auto;

	border: 10px solid black;
}

#input {
	text-align: center;
	max-width: 600px;
}